.App {
  text-align: center;
  background-color: #fff;
   min-height: 100vh;
}
.Nav-body
{
  background-color: #282c34;
  min-height: 100vh;
}
.marker-icon
{
  background: none;
  border: none;
  cursor: pointer;
}
.marker-icon img
{
  width: 20px;
  height: 20px;
}